/*GOOGLE FONT*/
body {

	font-family: 'Open Sans', sans-serif;
}

/*CSS RESET*/
*{
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
}

/*All HTML elements have dafault values for their margin and padding properties. Giving them the value of "0" makes it
easier for us to manipulate the size and positioning of elements*/

nav{
	/*Shorthand property: apply padding on all sides*/
	padding: 0.8rem;
	/* Creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	/*The margin-bottom property only changes*/
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector combinator: Type_selector Class selector*/
nav .nav, nav .nav-logo{
	margin: 0.5rem;

	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
/*Eventhough we have access to the padding and margin properties when centering text horizontally,
the text-align property is still better to use.
manipulating the padding and margin might affect non-text HTML tags to be added in the future which would return unexpected results*/

.header{
	text-align: center;
}

/*https://www.tutorialrepublic.com/css-reference/css3-properties.php*/

/*We have used descendant selector*/
#intro button{
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 2rem;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info .card{
/*	display: inline-block;
	vertical-align: top;*/
	min-height: 125px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding: 0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Activity*/
/*BG COLOR #002540*/


#pre-footer div{
	display:inline-block;
	margin-left: 2rem;
	margin-right: 7rem;
	vertical-align: top;
	color:white;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

#pre-footer{
	background-color: #002540;
}

.chg1{
	padding-top: 45px;
}
